<form class="text-center">
    <div>
        <img src="assets/icons/success-check-large.svg" alt="" />
        <h2>Check your email</h2>
        <p class="text-center">
            We've sent an email with a link to reset your password to
            <span class="font-semibold">{{ email() }}</span
            >.
        </p>
        <p class="mb-2">
            If you did not receive the email, please check your spam folder or
            click the button below to resend the email.
        </p>
        <hbp-button
            type="button"
            [disabled]="resendMutation.isPending()"
            (click)="submit()"
        >
            @if (resendMutation.isPending()) {
                <span
                    class="display-flex align-items-center justify-center gap-4"
                >
                    Resending Email...
                    <hbp-spinner />
                </span>
            } @else {
                Resend Email
            }
        </hbp-button>
    </div>
</form>
