@import "main";

h1 {
  color: $dark;
  font-family: $font-family-secondary;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}

section {
  display: block;
  padding: 2vw;
  @include lg {
    padding: 2vw;
  }
  width: 100%;

  .search-panel {
    width: 100%;
    @include flex-column;
    justify-content: space-between;
    @include md {
      @include flex-row;
      align-items: center;
    }
  }
}

hbp-input {
  --width: 130%;
  @include max-md {
    --width: 100%;
  }
}

hbp-button {
  --font-weight: 400;
  line-height: 1.25906rem;
  @include max-lg {
    --padding: 0.45rem 0.7rem;
    --width: max-content;
    align-self: flex-end;
  }
}

amalitech-pagination {
  --pagination-active-bg: var(--success-100);
  --pagination-item-color: var(--gray-500);
  --pagination-active-color: var(--gray-900);
  --pagination-font-size: 1.25rem;
  isolation: isolate;

  @include max-lg {
    --pagination-item-padding: 0.35rem 0.7rem;
    --pagination-font-size: 1rem;
  }
}

amalitech-select {
  --select-label-padding: 0.625rem 0.875rem;
  --select-label-font-size: 1rem;
  --select-label-border-color: var(--gray-300);
  --select-label-radius: 0.5rem;
  --select-dropdown-border-color: var(--gray-300);
  --select-option-font-size: 1rem;
}
