@import "main";

:host {
  --width: 43rem;
  --background: var(--gray);
  --height: min-content;
  --border-radius: 1rem;
  --active-bg: var(--yellow-500);
  width: var(--width);
  background: var(--background);
  height: var(--height);
  display: block;
  border-radius: var(--border-radius);
}

.progress-bar {
  height: 10px;
  overflow: hidden;
  background: var(--active-bg);
  transform-origin: left;
  transition: all 0.5s ease;
  border-radius: var(--border-radius);
}
