<article
    [class]="{
        open: open(),
        'screen-fit': open(),
        modal: true,
    }"
    role="alertdialog"
    aria-labelledby="label"
    @popup
>
    <header>
        <p id="label">Cancel Appointment</p>
        <img
            src="assets/icons/close-small.svg"
            (click)="close()"
            alt="close"
            class="cursor-pointer"
            tabindex="0"
        />
    </header>
    <section>
        <form [formGroup]="form" (submit)="submit()">
            <hbp-textarea
                label="Notes"
                id="notes"
                type="text"
                placeholder="Reason for cancelling appointment"
                [control]="form.get('reason')"
                [error]="formValidator.errors('reason')"
                [rows]="4"
                [required]="true"
            />
            <p>Let us know why you want to cancel this appointment</p>
            <hbp-button
                type="submit"
                [disabled]="cancelAppointmentMutation.isPending()"
            >
                Cancel Appointment
            </hbp-button>
        </form>
    </section>
</article>
<div
    class="backdrop"
    [class.open]="open()"
    tabindex="-1"
    (click)="open.set(false)"
></div>
@if (
    cancelAppointmentMutation.isPending() || patientCancelMutation.isPending()
) {
    <hbp-spinner size="screen" />
}
