<form [formGroup]="form" (submit)="submit()">
    <h2 class="mb-1">Reset Password</h2>
    <p class="text-center">
        Set a new password for <span class="font-semibold">{{ email }}</span>
    </p>
    <hbp-input
        id="reset-password"
        type="password"
        placeholder="New Password"
        iconLeftUrl="assets/icons/lock.svg"
        iconRightUrl="assets/icons/eye.svg"
        [control]="form.get('password')"
        [error]="formValidator.errors('password')"
    />
    <hbp-input
        id="reset-confirmPassword"
        type="password"
        placeholder="Re-enter Password"
        iconLeftUrl="assets/icons/lock.svg"
        iconRightUrl="assets/icons/eye.svg"
        [control]="form.get('confirmPassword')"
        [error]="formValidator.errors('confirmPassword')"
    />
    <span class="mt-2">
        <hbp-button type="submit" [disabled]="resetMutation.isPending()">
            <span class="display-flex align-items-center justify-center gap-4">
                @if (resetMutation.isPending()) {
                    Resetting Your Password...
                    <hbp-spinner />
                } @else {
                    Reset Password
                }
            </span>
        </hbp-button>
    </span>
</form>
