@import "main";

.form-group {
    margin-top: 2.13rem;
    width: 40%;
    min-width: 22.5rem;
}

.form-group > * {
    margin-bottom: 1.25rem;
}

hbp-button {
    --height: 2.75rem;
    --font-family: var(--font-family-secondary);
    width: fit-content;
    display: block;
    margin-top: 2.5rem;
    min-width: 8.26455rem;
}