<form [formGroup]="ChangePasswordForm" (submit)="submitPasswordChange()">
    <h2>Change Password</h2>
    <hbp-input
        label="Current Password"
        [control]="currentPassword"
        iconLeftUrl="assets/icons/lock.svg"
        iconRightUrl="assets/icons/eye.svg"
        id="currentPassword"
        type="password"
        placeholder="Enter your current password"
        [required]="true"
        [error]="formValidator.errors('currentPassword')"
    />
    <hbp-input
        label="New Password"
        [control]="password"
        iconLeftUrl="assets/icons/lock.svg"
        iconRightUrl="assets/icons/eye.svg"
        id="password"
        type="password"
        placeholder="Enter your new password"
        [required]="true"
        [error]="formValidator.errors('password')"
    />

    <hbp-input
        label="Confirm Password"
        [control]="confirmPassword"
        iconLeftUrl="assets/icons/lock.svg"
        iconRightUrl="assets/icons/eye.svg"
        id="confirmPassword"
        type="password"
        placeholder="Confirm New Password"
        [required]="true"
        [error]="formValidator.errors('confirmPassword')"
    />
    <hbp-button type="submit" [disabled]="ChangePasswordForm.invalid"
        >Save Changes
    </hbp-button>
</form>
