@import "main";

:host {
  display: block;
  padding-bottom: 15rem;
  width: auto;
  padding-inline: 5%;
  @include md {
    width: 40vw;
  }
}

h2 {
  @include text-normal(1.5rem, $gray-800, 500);
  line-height: 1.3rem;
  margin-bottom: 2rem;
}

hbp-input {
  display: block;
  margin-top: 1.25rem;
  --underlying-input-width: 100%;
  width: 100%;
}

hbp-button {
  --padding: 0.625rem 1.5rem;
  --height: 2.75rem;
  --font-weight: 500;
  --font-family: var(--font-family-secondary);
  display: block;
  margin-top: 2rem;
  --width: fit-content;
  float: right;
}
