@import "main";

:host {
  display: block;
  padding: 0.75rem 1.25rem;
  max-width: 30rem;
  border-radius: 0.5rem;
  background: $gray-100;
  min-width: 25rem;
  height: 272px;

  div {
    @include flex-row;
    gap: 0.5rem;
  }
}

span {
  @include flex-row;
  align-items: center;
  gap: 0.25rem;
  @include text-normal(0.875rem, $gray-900, 500);
}

button {
  @include reset;
  @include flex-row;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background: $primary-700;
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
  @include text-normal(clamp(0.75rem, 1.5vw + 0.875rem, 0.875rem), $white, 500);

  i {
    @include icon(
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M5.73319 20.9995C5.27252 20.9995 4.88819 20.8455 4.58019 20.5375C4.27219 20.2295 4.11785 19.8452 4.11719 19.3845V6.61453C4.11719 6.15453 4.27152 5.77053 4.58019 5.46253C4.88885 5.15453 5.27319 5.0002 5.73319 4.99953H7.50219V2.76953H8.57919V4.99953H15.7332V2.76953H16.7332V4.99953H18.5022C18.9622 4.99953 19.3465 5.15386 19.6552 5.46253C19.9639 5.7712 20.1179 6.15553 20.1172 6.61553V11.6155H19.1172V10.6155H5.11719V19.3845C5.11719 19.5379 5.18119 19.6789 5.30919 19.8075C5.43719 19.9362 5.57819 20.0002 5.73219 19.9995H11.9632V20.9995H5.73319ZM5.11719 9.61453H19.1172V6.61453C19.1172 6.4612 19.0532 6.3202 18.9252 6.19153C18.7972 6.06286 18.6559 5.99886 18.5012 5.99953H5.73319C5.57919 5.99953 5.43785 6.06353 5.30919 6.19153C5.18052 6.31953 5.11652 6.46086 5.11719 6.61553V9.61453ZM14.3472 20.9995V18.7895L19.6812 13.4825C19.7799 13.3839 19.8822 13.3172 19.9882 13.2825C20.0949 13.2479 20.2015 13.2305 20.3082 13.2305C20.4182 13.2305 20.5295 13.2519 20.6422 13.2945C20.7555 13.3379 20.8549 13.4025 20.9402 13.4885L21.8652 14.4325C21.9472 14.5312 22.0095 14.6339 22.0522 14.7405C22.0955 14.8465 22.1172 14.9529 22.1172 15.0595C22.1172 15.1662 22.0969 15.2735 22.0562 15.3815C22.0155 15.4895 21.9519 15.5929 21.8652 15.6915L16.5572 20.9995H14.3472ZM15.2332 20.1155H16.1832L19.6502 16.6415L19.1802 16.1665L18.7252 15.6785L15.2332 19.1645V20.1155ZM19.1802 16.1665L18.7252 15.6785L19.6502 16.6415L19.1802 16.1665Z' fill='white'/%3E%3C/svg%3E")
    );
  }

  &:nth-child(2) {
    background: $error-500;

    i {
      @include icon(
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M4.6787 17.5003C4.29481 17.5003 3.97453 17.3719 3.71786 17.1153C3.4612 16.8586 3.33259 16.5383 3.33203 16.1544V5.51276C3.33203 5.12943 3.46064 4.80943 3.71786 4.55276C3.97509 4.29609 4.29536 4.16748 4.6787 4.16693H6.15286V2.30859H7.05036V4.16693H13.012V2.30859H13.8454V4.16693H15.3195C15.7029 4.16693 16.0231 4.29554 16.2804 4.55276C16.5376 4.80998 16.6659 5.13026 16.6654 5.51359V9.68026H15.832V8.84693H4.16536V16.1544C4.16536 16.2822 4.2187 16.3997 4.32536 16.5069C4.43203 16.6142 4.54953 16.6675 4.67786 16.6669H9.87036V17.5003H4.6787ZM4.16536 8.01276H15.832V5.51276C15.832 5.38498 15.7787 5.26748 15.672 5.16026C15.5654 5.05304 15.4476 4.99971 15.3187 5.00026H4.6787C4.55036 5.00026 4.43259 5.05359 4.32536 5.16026C4.21814 5.26693 4.16481 5.38471 4.16536 5.51359V8.01276ZM11.857 17.5003V15.6586L16.302 11.2361C16.3843 11.1539 16.4695 11.0983 16.5579 11.0694C16.6468 11.0405 16.7356 11.0261 16.8245 11.0261C16.9162 11.0261 17.009 11.0439 17.1029 11.0794C17.1973 11.1155 17.2801 11.1694 17.3512 11.2411L18.122 12.0278C18.1904 12.11 18.2423 12.1955 18.2779 12.2844C18.314 12.3728 18.332 12.4614 18.332 12.5503C18.332 12.6392 18.3151 12.7286 18.2812 12.8186C18.2473 12.9086 18.1943 12.9947 18.122 13.0769L13.6987 17.5003H11.857ZM12.5954 16.7636H13.387L16.2762 13.8686L15.8845 13.4728L15.5054 13.0661L12.5954 15.9711V16.7636ZM15.8845 13.4728L15.5054 13.0661L16.2762 13.8686L15.8845 13.4728Z' fill='%23F04438'/%3E%3C/svg%3E")
      );
    }
  }
}

h5 {
  @include text-bold(1rem, $gray-900, 500);
}

p {
  @include text-normal(0.875rem, $gray-600, 500);
  line-height: 128.571%;
  @include ellipses($height: calc(1rem * 3.5), $clamp: 3);
}

hbp-user-avatar {
  --size: 3.5rem;
}

div.actions {
  @include max-lg {
    flex-wrap: wrap;
    & > * {
      flex: 1;
      justify-content: center;
    }
  }
  @include max-md {
    flex-direction: column;
  }
}
