@import "main";

:host {
  width: 100%;
  margin-bottom: 7rem;
  display: block;
}

* {
  font-family: $font-family-secondary;
}

main {
  padding-inline: 3%;
  width: max-content;
  @include lg {
    padding-inline: 6%;
  }
  @include xlg {
    min-width: 60vw;
  }
}

hbp-breadcrumb {
  margin-block: 3rem;
  display: block;
}

ol {
  @include flex-row;
  align-items: center;
  width: 100%;
  gap: 3rem;
  margin-bottom: 3rem;
  @include xlg {
    gap: 10rem;
  }

  li {
    @include text-normal(
      clamp(0.875rem, 1.5vw + 1rem, 1rem),
      $neutral-800,
      500
    );
    line-height: 120%;
    cursor: pointer;

    &.inactive {
      color: $neutral-400;
    }

    &:last-of-type {
      margin-left: 6rem;
      @include xlg {
        margin-left: 15rem;
      }
    }
  }
}

h4 {
  @include text-bold(clamp(1rem, 1.5vw + 1rem, 1.15rem), $neutral-950, 600);
  line-height: 120%;
  &.past {
    text-decoration: line-through;
  }
}

p {
  @include text-normal(clamp(0.875rem, 1.5vw + 1rem, 1rem), $neutral-700, 500);
  line-height: 120%;
}

a {
  color: $secondary-500;
}

article {
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
  margin-bottom: 1.25rem;
  max-width: 50rem;

  div {
    border-left-width: 3px;
    border-left-style: solid;
    @include flex-column;
    gap: 0.75rem;
    padding-left: 0.75rem;
  }

  b {
    @include flex-row;
    align-items: center;
    gap: 0.25rem;
    @include text-normal(0.875rem, $yellow-700, 500);

    i {
      @include icon(
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 16.9375H10.0001C11.8394 16.9354 13.6027 16.2038 14.9033 14.9033C16.2038 13.6027 16.9354 11.8394 16.9375 10.0001V10C16.9375 8.62789 16.5306 7.2866 15.7683 6.14573C15.006 5.00487 13.9225 4.11567 12.6549 3.59059C11.3872 3.0655 9.99231 2.92812 8.64656 3.1958C7.30082 3.46349 6.06468 4.12422 5.09445 5.09445C4.12422 6.06467 3.46349 7.30082 3.19581 8.64656C2.92812 9.9923 3.06551 11.3872 3.59059 12.6549C4.11567 13.9225 5.00487 15.006 6.14573 15.7683C7.2866 16.5306 8.6279 16.9375 10 16.9375ZM9.4375 10V9.9375H9.375C9.22582 9.9375 9.08275 9.87824 8.97726 9.77275C8.87177 9.66726 8.8125 9.52418 8.8125 9.375C8.8125 9.22582 8.87177 9.08274 8.97726 8.97725C9.08275 8.87176 9.22582 8.8125 9.375 8.8125C9.68995 8.8125 9.99199 8.93761 10.2147 9.16031C10.4374 9.38301 10.5625 9.68506 10.5625 10V13.125V13.1875H10.625C10.7742 13.1875 10.9173 13.2468 11.0228 13.3523C11.1282 13.4577 11.1875 13.6008 11.1875 13.75C11.1875 13.8992 11.1282 14.0423 11.0228 14.1477C10.9173 14.2532 10.7742 14.3125 10.625 14.3125C10.3101 14.3125 10.008 14.1874 9.78531 13.9647C9.56262 13.742 9.4375 13.4399 9.4375 13.125V10ZM5.52072 3.29628C6.84658 2.41036 8.40537 1.93751 9.99997 1.9375C12.1376 1.93977 14.187 2.78994 15.6985 4.30146C17.2101 5.813 18.0602 7.86243 18.0625 10.0001C18.0625 11.5947 17.5896 13.1534 16.7037 14.4793C15.8178 15.8052 14.5586 16.8385 13.0854 17.4488C11.6122 18.059 9.99106 18.2187 8.42709 17.9076C6.86312 17.5965 5.42652 16.8286 4.29896 15.701C3.17139 14.5735 2.40352 13.1369 2.09242 11.5729C1.78133 10.0089 1.94099 8.38784 2.55122 6.91461C3.16146 5.44139 4.19485 4.1822 5.52072 3.29628ZM8.8125 6.5625C8.8125 6.38944 8.86382 6.22027 8.95997 6.07638C9.05611 5.93248 9.19277 5.82033 9.35266 5.75411C9.51254 5.68788 9.68847 5.67055 9.85821 5.70431C10.0279 5.73807 10.1839 5.82141 10.3062 5.94378C10.4286 6.06615 10.5119 6.22206 10.5457 6.3918C10.5795 6.56153 10.5621 6.73746 10.4959 6.89735C10.4297 7.05723 10.3175 7.19389 10.1736 7.29004C10.0297 7.38618 9.86056 7.4375 9.6875 7.4375C9.45544 7.4375 9.23288 7.34531 9.06879 7.18122C8.90469 7.01712 8.8125 6.79456 8.8125 6.5625Z' fill='%23BB6B02' stroke='%23BB6B02' stroke-width='0.125'/%3E%3C/svg%3E"),
        1rem
      );
    }
  }

  span {
    @include flex-row;
    gap: 1.25rem;
    margin-top: 1rem;

    button {
      @include reset;
      @include flex-row;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      @include text-normal(
        clamp(0.75rem, 1.5vw + 0.875rem, 0.875rem),
        $neutral-900,
        500
      );

      i.reschedule {
        @include icon(
          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M4.6787 17.5003C4.29481 17.5003 3.97453 17.3719 3.71786 17.1153C3.4612 16.8586 3.33259 16.5383 3.33203 16.1544V5.51276C3.33203 5.12943 3.46064 4.80943 3.71786 4.55276C3.97509 4.29609 4.29536 4.16748 4.6787 4.16693H6.15286V2.30859H7.05036V4.16693H13.012V2.30859H13.8454V4.16693H15.3195C15.7029 4.16693 16.0231 4.29554 16.2804 4.55276C16.5376 4.80998 16.6659 5.13026 16.6654 5.51359V9.68026H15.832V8.84693H4.16536V16.1544C4.16536 16.2822 4.2187 16.3997 4.32536 16.5069C4.43203 16.6142 4.54953 16.6675 4.67786 16.6669H9.87036V17.5003H4.6787ZM4.16536 8.01276H15.832V5.51276C15.832 5.38498 15.7787 5.26748 15.672 5.16026C15.5654 5.05304 15.4476 4.99971 15.3187 5.00026H4.6787C4.55036 5.00026 4.43259 5.05359 4.32536 5.16026C4.21814 5.26693 4.16481 5.38471 4.16536 5.51359V8.01276ZM11.857 17.5003V15.6586L16.302 11.2361C16.3843 11.1539 16.4695 11.0983 16.5579 11.0694C16.6468 11.0405 16.7356 11.0261 16.8245 11.0261C16.9162 11.0261 17.009 11.0439 17.1029 11.0794C17.1973 11.1155 17.2801 11.1694 17.3512 11.2411L18.122 12.0278C18.1904 12.11 18.2423 12.1955 18.2779 12.2844C18.314 12.3728 18.332 12.4614 18.332 12.5503C18.332 12.6392 18.3151 12.7286 18.2812 12.8186C18.2473 12.9086 18.1943 12.9947 18.122 13.0769L13.6987 17.5003H11.857ZM12.5954 16.7636H13.387L16.2762 13.8686L15.8845 13.4728L15.5054 13.0661L12.5954 15.9711V16.7636ZM15.8845 13.4728L15.5054 13.0661L16.2762 13.8686L15.8845 13.4728Z' fill='%23464646'/%3E%3C/svg%3E")
        );
      }

      &.cancel {
        color: $error-500;

        i.cancel {
          @include icon(
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M16 3C8.832 3 3 8.832 3 16C3 23.168 8.832 29 16 29C23.168 29 29 23.168 29 16C29 8.832 23.168 3 16 3ZM16 4.5C22.087 4.5 27.5 9.913 27.5 16C27.5 22.087 22.087 27.5 16 27.5C9.913 27.5 4.5 22.087 4.5 16C4.5 9.913 9.913 4.5 16 4.5ZM12.22 10.78L11.5 11.5L10.78 12.22L14.564 16L10.782 19.78L12.222 21.22L16 17.437L19.78 21.217L21.22 19.78L17.437 16L21.217 12.22L19.78 10.78L16 14.564L12.22 10.782V10.78Z' fill='%23F04438'/%3E%3C/svg%3E")
          );
        }
      }

      i.completed {
        @include icon(
          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M11.6884 6.69662L4.68837 13.5716C4.57147 13.6866 4.41407 13.751 4.25009 13.751C4.08612 13.751 3.92871 13.6866 3.81181 13.5716L0.811812 10.6255C0.753282 10.568 0.706661 10.4995 0.674611 10.4239C0.642562 10.3483 0.625711 10.2672 0.625022 10.1851C0.624333 10.103 0.639818 10.0216 0.670594 9.94547C0.70137 9.86937 0.746834 9.80007 0.80439 9.74154C0.861946 9.68301 0.930467 9.63639 1.00604 9.60434C1.08161 9.57229 1.16276 9.55544 1.24485 9.55475C1.32693 9.55406 1.40835 9.56955 1.48445 9.60032C1.56055 9.6311 1.62984 9.67656 1.68837 9.73412L4.25009 12.2497L10.8126 5.80443C10.9309 5.68819 11.0905 5.62371 11.2564 5.62518C11.3385 5.6259 11.4197 5.6428 11.4953 5.67489C11.5709 5.70699 11.6394 5.75366 11.697 5.81224C11.7545 5.87083 11.8 5.94017 11.8307 6.01632C11.8615 6.09247 11.8769 6.17393 11.8762 6.25605C11.8755 6.33817 11.8586 6.41935 11.8265 6.49494C11.7944 6.57053 11.7477 6.63906 11.6892 6.69662H11.6884ZM19.1962 5.81224C19.1387 5.75362 19.0701 5.70691 18.9945 5.67478C18.9189 5.64266 18.8378 5.62575 18.7556 5.62502C18.6735 5.6243 18.592 5.63977 18.5159 5.67055C18.4397 5.70134 18.3704 5.74683 18.3118 5.80443L11.7493 12.2497L10.2782 10.8044C10.1599 10.6883 10.0003 10.6239 9.83453 10.6255C9.66875 10.627 9.51037 10.6943 9.39423 10.8126C9.2781 10.9309 9.21372 11.0905 9.21526 11.2563C9.21679 11.4221 9.28413 11.5805 9.40244 11.6966L11.311 13.5716C11.4279 13.6866 11.5853 13.751 11.7493 13.751C11.9133 13.751 12.0707 13.6866 12.1876 13.5716L19.1876 6.69662C19.2463 6.63914 19.293 6.57066 19.3252 6.49509C19.3574 6.41952 19.3744 6.33835 19.3752 6.25621C19.376 6.17408 19.3606 6.09259 19.3299 6.01641C19.2992 5.94023 19.2537 5.87085 19.1962 5.81224Z' fill='%23464646'/%3E%3C/svg%3E")
        );
      }
    }
  }
}
