@import "main";

* {
  font-family: $font-family-secondary;
  transition: all 0.3s;
}

main {
  padding: 2rem;
  padding-left: 2.15rem;
  width: 100%;
}

a {
  @include flex-row;
  align-items: center;
  gap: 0.5rem;
  @include text-normal(1rem, $neutral-800, 600);
  line-height: 1.25rem;
  cursor: pointer;
  margin-bottom: 1rem;

  i {
    @include icon(
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M21.0006 12.0004C21.0006 12.1993 20.9216 12.3901 20.7809 12.5307C20.6403 12.6714 20.4495 12.7504 20.2506 12.7504H5.5609L11.0312 18.2198C11.1009 18.2895 11.1562 18.3722 11.1939 18.4632C11.2316 18.5543 11.251 18.6519 11.251 18.7504C11.251 18.849 11.2316 18.9465 11.1939 19.0376C11.1562 19.1286 11.1009 19.2114 11.0312 19.281C10.9615 19.3507 10.8788 19.406 10.7878 19.4437C10.6967 19.4814 10.5991 19.5008 10.5006 19.5008C10.402 19.5008 10.3045 19.4814 10.2134 19.4437C10.1224 19.406 10.0396 19.3507 9.96996 19.281L3.21996 12.531C3.15023 12.4614 3.09491 12.3787 3.05717 12.2876C3.01943 12.1966 3 12.099 3 12.0004C3 11.9019 3.01943 11.8043 3.05717 11.7132C3.09491 11.6222 3.15023 11.5394 3.21996 11.4698L9.96996 4.71979C10.1107 4.57906 10.3016 4.5 10.5006 4.5C10.6996 4.5 10.8905 4.57906 11.0312 4.71979C11.1719 4.86052 11.251 5.05139 11.251 5.25042C11.251 5.44944 11.1719 5.64031 11.0312 5.78104L5.5609 11.2504H20.2506C20.4495 11.2504 20.6403 11.3294 20.7809 11.4701C20.9216 11.6107 21.0006 11.8015 21.0006 12.0004Z' fill='%23444646'/%3E%3C/svg%3E")
    );
  }
}

section {
  @include flex-row;
  gap: 1.5rem;
  width: 100%;

  & > * {
    padding: 1.25rem 0.625rem 3.75rem 0.625rem;
    background: $white;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .profile,
  .appointments {
    max-height: 100vh;
    overflow-y: auto;
  }

  .profile {
    @include flex-column;
    flex-grow: 1;

    & > * {
      padding: 1.5rem;
    }

    @include lg {
      width: 35%;
    }
  }

  .appointments {
    @include lg {
      width: 65%;
    }
  }
}

h4 {
  @include text-bold(1.25rem, $secondary-950, 500);
  line-height: 1.25rem;
}

h5 {
  @include text-normal(1.25rem, $neutral-950, 600);
  line-height: 1.5rem;
}

p {
  @include text-normal(0.875rem, $neutral-700, 500);
  line-height: 1.5rem;
}

hbp-button {
  --width: fit-content;
  margin-top: 1rem;
  display: block;

  i {
    @include icon(
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M13.2422 12.0741C13.2422 12.2966 13.1762 12.5141 13.0526 12.6991C12.929 12.8841 12.7533 13.0283 12.5477 13.1135C12.3421 13.1986 12.1159 13.2209 11.8977 13.1775C11.6795 13.1341 11.479 13.027 11.3217 12.8696C11.1644 12.7123 11.0572 12.5118 11.0138 12.2936C10.9704 12.0754 10.9927 11.8492 11.0778 11.6436C11.163 11.438 11.3072 11.2623 11.4922 11.1387C11.6772 11.0151 11.8947 10.9491 12.1172 10.9491C12.4156 10.9491 12.7017 11.0677 12.9127 11.2786C13.1237 11.4896 13.2422 11.7758 13.2422 12.0741ZM7.99219 10.9491C7.76968 10.9491 7.55218 11.0151 7.36717 11.1387C7.18217 11.2623 7.03797 11.438 6.95282 11.6436C6.86767 11.8492 6.8454 12.0754 6.8888 12.2936C6.93221 12.5118 7.03936 12.7123 7.19669 12.8696C7.35403 13.027 7.55448 13.1341 7.77271 13.1775C7.99094 13.2209 8.21714 13.1986 8.42271 13.1135C8.62827 13.0283 8.80397 12.8841 8.92759 12.6991C9.05121 12.5141 9.11719 12.2966 9.11719 12.0741C9.11719 11.7758 8.99866 11.4896 8.78768 11.2786C8.5767 11.0677 8.29056 10.9491 7.99219 10.9491ZM16.2422 10.9491C16.0197 10.9491 15.8022 11.0151 15.6172 11.1387C15.4322 11.2623 15.288 11.438 15.2028 11.6436C15.1177 11.8492 15.0954 12.0754 15.1388 12.2936C15.1822 12.5118 15.2894 12.7123 15.4467 12.8696C15.604 13.027 15.8045 13.1341 16.0227 13.1775C16.2409 13.2209 16.4671 13.1986 16.6727 13.1135C16.8783 13.0283 17.054 12.8841 17.1776 12.6991C17.3012 12.5141 17.3672 12.2966 17.3672 12.0741C17.3672 11.7758 17.2487 11.4896 17.0377 11.2786C16.8267 11.0677 16.5406 10.9491 16.2422 10.9491ZM21.8672 12.0741C21.8676 13.7574 21.4321 15.4122 20.6032 16.8773C19.7743 18.3424 18.5803 19.5679 17.1372 20.4346C15.6942 21.3013 14.0513 21.7796 12.3686 21.823C10.6858 21.8664 9.02049 21.4734 7.53469 20.6822L4.3425 21.7463C4.07821 21.8344 3.79459 21.8472 3.52343 21.7833C3.25228 21.7193 3.0043 21.581 2.8073 21.384C2.6103 21.187 2.47205 20.939 2.40806 20.6679C2.34407 20.3967 2.35686 20.1131 2.445 19.8488L3.50906 16.6566C2.81358 15.349 2.42512 13.9002 2.37319 12.42C2.32125 10.9399 2.60719 9.46738 3.20932 8.11425C3.81144 6.76112 4.71391 5.56295 5.84823 4.61068C6.98256 3.65841 8.31892 2.97707 9.75588 2.61838C11.1928 2.25969 12.6926 2.23308 14.1414 2.54056C15.5902 2.84805 16.9499 3.48155 18.1173 4.39297C19.2847 5.3044 20.2291 6.4698 20.8788 7.80071C21.5286 9.13163 21.8666 10.5931 21.8672 12.0741ZM20.3672 12.0741C20.3668 10.8086 20.0753 9.56015 19.5153 8.42532C18.9552 7.29049 18.1416 6.29972 17.1373 5.52966C16.1331 4.75959 14.9651 4.23088 13.7239 3.98443C12.4826 3.73797 11.2012 3.78038 9.97897 4.10837C8.7567 4.43637 7.62628 5.04115 6.67514 5.87593C5.72401 6.71071 4.97767 7.75312 4.49387 8.9225C4.01007 10.0919 3.80177 11.3569 3.88509 12.6196C3.96841 13.8824 4.34112 15.1091 4.97437 16.2047C5.02752 16.2967 5.06053 16.399 5.07119 16.5047C5.08186 16.6104 5.06995 16.7171 5.03625 16.8179L3.86719 20.3241L7.37344 19.1551C7.44981 19.129 7.52994 19.1157 7.61062 19.1157C7.74235 19.1159 7.87169 19.1508 7.98562 19.2169C9.23981 19.9426 10.663 20.3251 12.112 20.326C13.561 20.3269 14.9846 19.9462 16.2397 19.2221C17.4948 18.4981 18.5371 17.4562 19.2617 16.2014C19.9862 14.9466 20.3675 13.5231 20.3672 12.0741Z' fill='white'/%3E%3C/svg%3E")
    );
  }
}

hbp-user-avatar {
  --size: 5.625rem;
}

.appointment-history,
.medical-records {
  @include text-normal(1rem, $neutral-950, 500);
  padding: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  i.calendar {
    @include icon(
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='23' viewBox='0 0 22 23' fill='none'%3E%3Cpath d='M17.875 2.89453H15.8125V2.20703C15.8125 2.02469 15.7401 1.84983 15.6111 1.7209C15.4822 1.59196 15.3073 1.51953 15.125 1.51953C14.9427 1.51953 14.7678 1.59196 14.6389 1.7209C14.5099 1.84983 14.4375 2.02469 14.4375 2.20703V2.89453H7.5625V2.20703C7.5625 2.02469 7.49007 1.84983 7.36114 1.7209C7.2322 1.59196 7.05734 1.51953 6.875 1.51953C6.69266 1.51953 6.5178 1.59196 6.38886 1.7209C6.25993 1.84983 6.1875 2.02469 6.1875 2.20703V2.89453H4.125C3.76033 2.89453 3.41059 3.0394 3.15273 3.29726C2.89487 3.55512 2.75 3.90486 2.75 4.26953V18.0195C2.75 18.3842 2.89487 18.7339 3.15273 18.9918C3.41059 19.2497 3.76033 19.3945 4.125 19.3945H17.875C18.2397 19.3945 18.5894 19.2497 18.8473 18.9918C19.1051 18.7339 19.25 18.3842 19.25 18.0195V4.26953C19.25 3.90486 19.1051 3.55512 18.8473 3.29726C18.5894 3.0394 18.2397 2.89453 17.875 2.89453ZM6.1875 4.26953V4.95703C6.1875 5.13937 6.25993 5.31424 6.38886 5.44317C6.5178 5.5721 6.69266 5.64453 6.875 5.64453C7.05734 5.64453 7.2322 5.5721 7.36114 5.44317C7.49007 5.31424 7.5625 5.13937 7.5625 4.95703V4.26953H14.4375V4.95703C14.4375 5.13937 14.5099 5.31424 14.6389 5.44317C14.7678 5.5721 14.9427 5.64453 15.125 5.64453C15.3073 5.64453 15.4822 5.5721 15.6111 5.44317C15.7401 5.31424 15.8125 5.13937 15.8125 4.95703V4.26953H17.875V7.01953H4.125V4.26953H6.1875ZM17.875 18.0195H4.125V8.39453H17.875V18.0195Z' fill='%23252727'/%3E%3C/svg%3E")
    );
  }

  i.record {
    @include icon(
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='23' viewBox='0 0 22 23' fill='none'%3E%3Cpath d='M3.4375 3.58203V18.707H18.5625V3.58203H3.4375ZM4.8125 4.95703H5.18031L8.6625 7.91328L11 5.85078L13.3375 7.91328L16.8197 4.95703H17.1875V17.332H4.8125V4.95703ZM7.35969 4.95703H9.98594L8.6625 6.12578L7.35969 4.95703ZM12.0141 4.95703H14.6403L13.3375 6.12578L12.0141 4.95703ZM6.1875 9.08203V10.457H8.25V9.08203H6.1875ZM9.625 9.08203V10.457H15.8125V9.08203H9.625ZM6.1875 11.832V13.207H8.25V11.832H6.1875ZM9.625 11.832V13.207H15.8125V11.832H9.625ZM12.375 14.582V15.957H15.8125V14.582H12.375Z' fill='%23252727'/%3E%3C/svg%3E")
    );
  }

  &.active {
    background: $secondary-50;
    color: $secondary-500;
    border-radius: 0.625rem;

    i.calendar {
      @include icon(
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='23' viewBox='0 0 22 23' fill='none'%3E%3Cpath d='M17.875 2.89453H15.8125V2.20703C15.8125 2.02469 15.7401 1.84983 15.6111 1.7209C15.4822 1.59196 15.3073 1.51953 15.125 1.51953C14.9427 1.51953 14.7678 1.59196 14.6389 1.7209C14.5099 1.84983 14.4375 2.02469 14.4375 2.20703V2.89453H7.5625V2.20703C7.5625 2.02469 7.49007 1.84983 7.36114 1.7209C7.2322 1.59196 7.05734 1.51953 6.875 1.51953C6.69266 1.51953 6.5178 1.59196 6.38886 1.7209C6.25993 1.84983 6.1875 2.02469 6.1875 2.20703V2.89453H4.125C3.76033 2.89453 3.41059 3.0394 3.15273 3.29726C2.89487 3.55512 2.75 3.90486 2.75 4.26953V18.0195C2.75 18.3842 2.89487 18.7339 3.15273 18.9918C3.41059 19.2497 3.76033 19.3945 4.125 19.3945H17.875C18.2397 19.3945 18.5894 19.2497 18.8473 18.9918C19.1051 18.7339 19.25 18.3842 19.25 18.0195V4.26953C19.25 3.90486 19.1051 3.55512 18.8473 3.29726C18.5894 3.0394 18.2397 2.89453 17.875 2.89453ZM6.1875 4.26953V4.95703C6.1875 5.13937 6.25993 5.31424 6.38886 5.44317C6.5178 5.5721 6.69266 5.64453 6.875 5.64453C7.05734 5.64453 7.2322 5.5721 7.36114 5.44317C7.49007 5.31424 7.5625 5.13937 7.5625 4.95703V4.26953H14.4375V4.95703C14.4375 5.13937 14.5099 5.31424 14.6389 5.44317C14.7678 5.5721 14.9427 5.64453 15.125 5.64453C15.3073 5.64453 15.4822 5.5721 15.6111 5.44317C15.7401 5.31424 15.8125 5.13937 15.8125 4.95703V4.26953H17.875V7.01953H4.125V4.26953H6.1875ZM17.875 18.0195H4.125V8.39453H17.875V18.0195Z' fill='%231D64F3'/%3E%3C/svg%3E")
      );
    }

    i.record {
      @include icon(
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='23' viewBox='0 0 22 23' fill='none'%3E%3Cpath d='M3.4375 3.58203V18.707H18.5625V3.58203H3.4375ZM4.8125 4.95703H5.18031L8.6625 7.91328L11 5.85078L13.3375 7.91328L16.8197 4.95703H17.1875V17.332H4.8125V4.95703ZM7.35969 4.95703H9.98594L8.6625 6.12578L7.35969 4.95703ZM12.0141 4.95703H14.6403L13.3375 6.12578L12.0141 4.95703ZM6.1875 9.08203V10.457H8.25V9.08203H6.1875ZM9.625 9.08203V10.457H15.8125V9.08203H9.625ZM6.1875 11.832V13.207H8.25V11.832H6.1875ZM9.625 11.832V13.207H15.8125V11.832H9.625ZM12.375 14.582V15.957H15.8125V14.582H12.375Z' fill='%231D64F3'/%3E%3C/svg%3E")
      );
    }
  }
}

ol {
  li {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    @include text-normal(1rem, $neutral-900, 500);
    line-height: 1.25906rem;
  }
}

ul {
  padding: 0.5rem;

  li {
    border-radius: 0.5rem;
    padding: 1rem 1.25rem;
    // max-width: 30rem;
    margin-bottom: 0.75rem;

    div {
      border-left-width: 3px;
      border-left-style: solid;
      @include flex-column;
      gap: 0.75rem;
      padding-left: 0.75rem;
    }

    h6 {
      @include text-bold(clamp(1rem, 1.5vw + 1.25rem, 1.25rem), $gray-800, 600);
      line-height: 120%;
    }

    p {
      @include text-normal(clamp(0.875rem, 1.5vw + 1rem, 1rem), $gray-600, 500);
      line-height: 120%;
    }
  }
}

#page-bottom {
  width: 2rem;
  height: 2rem;
  margin-top: 50px;
}
