@import "main";

* {
  font-family: $font-family-secondary;
}

:host {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  @include center;
  z-index: 10;
  inset: 0;
  pointer-events: none;
}

:host(:has(.open)) {
  pointer-events: all;
}

.modal {
  transform: translate(-50%, -50%) !important;
  min-width: 25rem;
  @include max-lg {
    min-width: 80vw;
  }
  #label {
    @include text-bold(1.25rem, $gray-900, 600);
  }
}

.modal,
.backdrop {
  opacity: 0;
  pointer-events: none;
  &.open {
    opacity: 1;
    pointer-events: all;
  }
}

form {
  border-radius: 0.75rem;
  border: 1px solid $Gray-200;
  padding: 0.875rem;
  margin-top: 0.5rem;
  p {
    @include text-normal(1rem, $gray-900, 500);
    margin-bottom: 1rem;
  }
}

hbp-textarea {
  --label-font-size: 0.875rem;
  --underlying-input-width: 100%;
  --label-color: var(--gray-900);
  --error-position: absolute;
  margin-top: 1.5rem;
}

header {
  justify-content: flex-end !important;
}
