@if (status === "mail-check") {
    <hbp-mail-check [email]="userEmail" />
} @else {
    <form [formGroup]="form" (submit)="submit()">
        <h2>Forgot password?</h2>
        <p class="mb-2 text-center">
            Don't worry, enter your email address below. We will send you a link
            to reset your password
        </p>
        <hbp-input
            id="doctor-forgot-email"
            type="email"
            placeholder="Enter your email address"
            iconLeftUrl="assets/icons/email.svg"
            [control]="form.get('email')"
            [error]="formValidator.errors('email')"
            [label]="'Email address'"
        ></hbp-input>
        <span class="mt-1">
            <hbp-button type="submit" [disabled]="resetMutation.isPending()">
                @if (resetMutation.isPending()) {
                    <span
                        class="display-flex align-items-center justify-center gap-4"
                    >
                        Sending You An Email...
                        <hbp-spinner />
                    </span>
                } @else {
                    <p class="text-center w-full">Send Link</p>
                }
            </hbp-button>
        </span>
    </form>
}
