<footer>
    <summary>
        <h3 class="logo-text">HBMS</h3>
        <p>
            Your healthcare is our priority. Feel free to visit our platform
            anytime!
        </p>
    </summary>
    <summary>
        <div>
            <p class="row-header">Product</p>
            <a routerLink="/about">Overview</a>
            <a routerLink="/services">Services</a>
        </div>
        <div>
            <p class="row-header">Company</p>
            <a routerLink="/about"> About Us </a>
            <a href="mailto:hbpbackend.admin@mockinbox.com"> Contact </a>
        </div>
        <div>
            <p class="row-header">Resources</p>
            <a routerLink="" fragment="cta">Newsletter</a>
            <a>Help center</a>
            <a>Tutorials</a>
            <a>Support</a>
        </div>
        <div>
            <p class="row-header">Social</p>
            <a>Twitter</a>
            <a>LinkedIn</a>
            <a>Faceboook</a>
            <a href="https://github.com/Amali-Tech/HBP-frontend/tree/develop"
                >Github</a
            >
        </div>
        <div>
            <p class="row-header">Legal</p>
            <a>Terms</a>
            <a>Privacy</a>
            <a>Cookies</a>
            <a>Licences</a>
        </div>
    </summary>
</footer>
<div class="licences">
    <p>
        &copy; 2024 AmaliTech. All rights reserved. Made with <span>❤</span> by
        team HBMS
    </p>
    <ul>
        <li>
            <a>
                <img
                    src="assets/icons/twitter.svg"
                    width="24px"
                    height="24px"
                    alt="twitter"
                />
            </a>
        </li>
        <li>
            <a>
                <img
                    src="assets/icons/linkedin.svg"
                    width="24px"
                    height="24px"
                    alt="linkedin"
                />
            </a>
        </li>
        <li>
            <a>
                <img
                    src="assets/icons/facebook.svg"
                    width="24px"
                    height="24px"
                    alt="facebook"
                />
            </a>
        </li>
    </ul>
</div>
